.visaicon {
    background: url('../images/Visa-card-dark@2x.png');
    height: 20px;
    width: 20px;
    /* Other styles here */
}
.mcicon {
    background: url('../images/MasterCard-dark@2x.png');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}
.amexicon {
    background: url('../images/AmericanExpress-dark.png');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}
.discovericon {
    background: url('../images/Discover-card-dark@2x.png');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}

ul#paymentIcons li {
	display: inline;
}

.hList li {
	display: inline;
}

#welcomeCard {
    background: #00b8fb; /* Old Browsers */
    background: -webkit-linear-gradient(top right,#00b8fb,#7cdffd); /*Safari 5.1-6*/
    background: -o-linear-gradient(top right,#00b8fb,#7cdffd); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top right,#00b8fb,#7cdffd); /*Fx 3.6-15*/
    background: linear-gradient(top right, #00b8fb, #7cdffd);
}